* {
  font-family: Arial, Helvetica, sans-serif;
}

.pie-bg {
  background-image: url("../images/apple-pie.jpg");
  /* background-repeat: no-repeat; */
  background-position: 0 -40px;
  background-size: 500px;
  width: 500px;
  height: 300px;
  position: relative;
}

.container {
  font-family: helvetica;
  text-align: justify;
  width: 400px;
}

.wtvbro {
  width: 400px;
  border-bottom: 2px;
  border-radius: 0%;
}

.text-bg {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  letter-spacing: 1.5px;
  color: white;
  font-family: helvetica;
}

.intro {
  text-align: center;
  width: 550px;
  font-size: small;
}
